@model Gitline.Models.StoreViewModel


@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartList) {
        <tr>
            <td>
                <img src="~/img/inventory/@item.Product.ImagePath" style="width:300px;height:400px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Brand)
            </td>
            <td>
                @item.Product.Price.ToString("N")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @item.Total.ToString("N")
            </td>

            <td>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ProductId"
                   onclick='return confirm ("are you sure?");'>
                    <i class="fa fa-remove"></i>
                </a>
            </td>
            <td>
                <a asp-action="CheckOut" asp-route-id="@item.ProductOrderID">CheckOut</a> |
            </td>
        </tr>
}
    </tbody>
</table>
@*<a asp-action="CheckOut" asp-route-id="@Model.Product" >CheckOut</a>*@
