@model Gitline.Models.OrderViewModel

@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
<table class="table" style="margin-block">
    <thead>
        <tr>
            <h1>Order is now confirmed</h1>
            <p>Email will be sent shortly</p>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderList)
        {
            <tr>
                <td>
                    Order Id : @Html.DisplayFor(modelItem => item.OrderId)
                </td>
            </tr>
            <tr>
                <td>
                    Order Id :@Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    x @Html.DisplayFor(modelItem => item.Product.Quantity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderAddress)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderZip)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderEmail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPhone)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-action="DeleteC" asp-route-id="@item.OrderId"
                       onclick='return confirm ("are you sure?");'>Confirm</a>
                </td>
            </tr>
        }

