@model Gitline.Models.StoreViewModel


@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Browse</h1>
<table class="table" id="records">
    <thead>
        <tr>
            <th colspan="2">
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
            <th>
                Rating
            </th>
            <th>
                Description
            </th>
            <th>
                Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductList)
        {
            <tr>
                <td>
                    <img src="~/img/inventory/@item.ImagePath" style="width:300px;height:400px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @item.Price.ToString("N")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>

                <td>
                    <a class="btn bg-primary text-light" asp-action="AddtoCart" asp-route-id="@item.ProductID">Add to Cart</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').dataTable();
        });
    </script>}
